@model Student_Management.Models.Lop

@{
    ViewData["Title"] = "Chi tiết lớp học";
}

<h1>Chi tiết lớp học</h1>

<div>
    <h4>@Model.TenLopHoc</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenLopHoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenLopHoc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SiSo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SiSo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NamHoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NamHoc.TenNamHoc)
        </dd>
        <dt class="col-sm-2">
            Giáo viên chủ nhiệm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GiaoVienChuNhiem.HoTen)
        </dd>
    </dl>

    <hr />
    <h4>Danh sách học sinh</h4>
    @if (Model.HocSinhs.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Tên học sinh</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hs in Model.HocSinhs)
                {
                    <tr>
                        <td>@hs.HoTen</td>
                        <td>@hs.NgaySinh.</td>
                        <td>@hs.GioiTinh</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Lớp học này chưa có học sinh nào.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaLopHoc">Sửa</a> |
    <a asp-action="Index">Quay lại danh sách</a>
</div>